.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    padding: 20px;
}

.video-description{
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 320px;
    font-family: 'Anton', sans-serif;
}

.youtube-container{
  margin: 20px;
}

.youtube-link{
  font-family: 'Anton', sans-serif;
  color: black;
}
