<h1>PAQ Tech Test</h1>
<div class="home-wrapper">
  <div class="youtube-container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="youtube_content">
            <div class="item-card">
            <% @items.each do |item| %>
            <div class="content">
              <h1 class="title"><%= item['snippet']['title'] %></h1>
              <p class="thumbnail"><%=image_tag item['snippet']['thumbnails']['high']['url'] %></p>
            </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="#">
      <p><input type="text" id="search" placeholder="Type something.." autocomplete="off" class="form-control"></p>
      <p><input type="submit" value="Search" class="form-control btn btn-primary"></p>
    </form>
</div> -->
